<html>
<head>
    <title></title>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />

</head>
<body style="padding:10px 0;margin:0;font-family:Arial, Helvetica, sans-serif;font-size:15px;line-height:18px;text-align:left;color:#666;">
    <table>
        <tr>
            <td height="50" colspan="2" style="text-indent: 40px; background-color: #ff0000;">
                &nbsp;<span style="font-size: medium;color: #FFFFFF;font-weight: bold;">
                </span>
            </td>
        </tr>
        <tr>

            <td>
                <p>Estimado Usuario,</p>
                <p>A continuación los datos para iniciar sesión en el sistema</p>
                <p>Su login es: <b>{LOGIN}</b></p>
                <p>Su clave temporal es: <b>{TEMPORAL_PASSWORD}</b></p>
                <p>Por favor, ingrese al sistema con la clave temporal y realice el cambio de clave permanente</p>
                <br />
            </td>
        </tr>
    </table>
</body>
</html>