<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
	<add name="connGeneral" connectionString="data source=DESKTOP-681JHF2; initial catalog=BDD_GENERAL; password=serq2016; persist security info=True; user id=sa; Application Name=QXRetail" />
    <add name="connPuntoVenta" connectionString="data source=DESKTOP-681JHF2; initial catalog=BDD_PUNTO_VENTA; password=serq2016; persist security info=True; user id=sa; Application Name=QXRetail" />
    <add name="connContabilidad" connectionString="data source=DESKTOP-681JHF2; initial catalog=BDD_CONTABILIDAD; password=serq2016; persist security info=True; user id=sa; Application Name=QXRetail" />
    
  </connectionStrings>
  <appSettings>
    <add key="usuario" value="admin" />
    <add key="clave" value="admin2015" />
    <add key="tiempo" value="3600000" />
    <add key="timeout" value="360" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISvcQXElectronicBilling" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.30.2.12/wcfWsQXElectronicBilling/SvcQXElectronicBilling.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcQXElectronicBilling" contract="FElectronicaWS.ISvcQXElectronicBilling" name="BasicHttpBinding_ISvcQXElectronicBilling" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>