<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <connectionStrings>
    <add name="connGeneral" connectionString="data source=SUPERECONOMICA; initial catalog=BDD_GENERAL; password=gema2020*; persist security info=True; user id=sa; Application Name=QXRetail" />
    <add name="connPuntoVenta" connectionString="data source=SUPERECONOMICA; initial catalog=BDD_PUNTO_VENTA; password=gema2020*; persist security info=True; user id=sa; Application Name=QXRetail" />
    <add name="connContabilidad" connectionString="data source=SUPERECONOMICA; initial catalog=BDD_CONTABILIDAD; password=gema2020*; persist security info=True; user id=sa; Application Name=QXRetail" />
  </connectionStrings>

</configuration>
