<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="connGeneral" connectionString="data source=DESKTOP-GMNQ81S\PRINCIPAL; initial catalog=BDD_GENERAL; password=gema2020*; persist security info=True; user id=sa; Application Name=QXRetail" />
    <add name="connPuntoVenta" connectionString="data source=DESKTOP-GMNQ81S\PRINCIPAL; initial catalog=BDD_PUNTO_VENTA; password=gema2020*; persist security info=True; user id=sa; Application Name=QXRetail" />
    <add name="connContabilidad" connectionString="data source=DESKTOP-GMNQ81S\PRINCIPAL; initial catalog=BDD_CONTABILIDAD; password=gema2020*; persist security info=True; user id=sa; Application Name=QXRetail" />
  </connectionStrings>
  
  <appSettings>
    <add key="ancho" value="1024" />
    <add key="alto" value="668" />
    <add key="random" value="QX.CIL" />
  <add key="timeoutContabilidad" value="180" />
  <add key="timeoutCompras" value="120" />
  <add key="timeoutCierre" value="180" />
  <add key="timeoutInventario" value="120" />
  <add key="timeoutVentas" value="120" />
  <add key="timeoutTransaction" value="60" />

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
		<binding name="wsTransferenciasSoap" closeTimeout="00:40:00"
          openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
		
        <binding name="wsComprasSoap" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" />
        <binding name="wsPromocionesSoap" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" />
        <binding name="wsCajasSoap" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" />
        <binding name="wsProductosSoap" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" />

        <binding name="wsVentasSoap" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" />
        <binding name="ServiceSoap" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" />
        <binding name="wsComercialSoap" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISvcQXElectronicBilling" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57411/wsTransferencias.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsTransferenciasSoap"
          contract="RetailWS.wsTransferenciasSoap" name="wsTransferenciasSoap" />
      <endpoint address="http://localhost:57411/wsCompras.asmx" binding="basicHttpBinding"
          bindingConfiguration="wsComprasSoap" contract="CompraWS.wsComprasSoap"
          name="wsComprasSoap" />
      <endpoint address="http://localhost:57411/wsPromociones.asmx"
               binding="basicHttpBinding" bindingConfiguration="wsPromocionesSoap"
               contract="PromocionWS.wsPromocionesSoap" name="wsPromocionesSoap" />
      <endpoint address="http://localhost:57411/wsCajas.asmx" binding="basicHttpBinding"
               bindingConfiguration="wsCajasSoap" contract="CajaWS.wsCajasSoap"
               name="wsCajasSoap" />
      <endpoint address="http://localhost:57411/wsProductos.asmx" binding="basicHttpBinding"
               bindingConfiguration="wsProductosSoap" contract="ProductosWS.wsProductosSoap"
               name="wsProductosSoap" />
      <endpoint address="http://localhost:57411/wsVentas.asmx" binding="basicHttpBinding"
             bindingConfiguration="wsVentasSoap" contract="VentasWS.wsVentasSoap"
             name="wsVentasSoap" />
      <endpoint address="http://www.quimicasuiza.com/WsInterfacePedidos/InterfaceService.asmx"
                 binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                 contract="SAPWS.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://localhost:57411/wsComercial.asmx" binding="basicHttpBinding"
             bindingConfiguration="wsComercialSoap" contract="ComercialWS.wsComercialSoap"
             name="wsComercialSoap" />
      <endpoint address="http://10.30.2.12/wcfWsQXElectronicBilling/SvcQXElectronicBilling.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcQXElectronicBilling"
                contract="FElectronicaWS.ISvcQXElectronicBilling" name="BasicHttpBinding_ISvcQXElectronicBilling" />
    </client>    
  </system.serviceModel>
</configuration>